/* Import Playfair font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
    
    

}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0 ,
    'wght' 600,
    'GRAD' 1,
    'opsz' 24;
    color: #F2E9F7;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #0A050E;
}

/** panel */

.panel{
    position: relative;
    width: 60px;
    height: 60%;
    border-radius: 10px ;
    border: solid 1px #C393DE;
    box-shadow: 6px 7px 4px rgba(195, 147, 222, 0.15),24px 29px 16px rgba(195, 147, 222, 0.10),55px 65px 35px rgba(195, 147, 222, 0.05);
    margin-right: 1.2vw;
    z-index: 2;
}

.panel button{
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    border: none;
    width: 100%;
    height: 8.3vh;
    padding: 20px 0px;
    /* background-color: red; */
    border-radius: 10px;
    
}

.panel button:hover{
    background-color: #c393de87;
    
}

.panel span:hover{
    color: #e622c6;
} 
#shapes-tools-card{
    display: none;

}
.card1 {
    position: fixed;
    left: 7%;
    top:21%;
    background-color: #0A050E;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    box-shadow: 6px 7px 4px rgba(195, 147, 222, 0.15),24px 29px 16px rgba(195, 147, 222, 0.10),55px 65px 35px rgba(195, 147, 222, 0.05);

}

.card1 button .material-symbols-outlined{
    cursor: pointer;
    font-variation-settings:
    'FILL' 0 ,
    'wght' 600,
    'GRAD' 1,
    'opsz' 26;
    color: #F2E9F7;
    background-color: #0A050E;
    padding: 10px 10px;
}

.card1 button .material-symbols-outlined:hover{
    background-color: #f2e9f772;
    color: #e622c6;
}

#brush-tools-card{
    display: none;
}

.card2 {
    position: fixed;
    left: 7%;
    top: 30%;
    background-color: #0A050E;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    box-shadow: 6px 7px 4px rgba(195, 147, 222, 0.15),24px 29px 16px rgba(195, 147, 222, 0.10),55px 65px 35px rgba(195, 147, 222, 0.05);

}

.card2 button .material-symbols-outlined{
    cursor: pointer;
    font-variation-settings:
    'FILL' 0 ,
    'wght' 600,
    'GRAD' 1,
    'opsz' 26;
    color: #F2E9F7;
    background-color: #0A050E;
    padding: 10px 10px;
}

.card2 button .material-symbols-outlined:hover{
    background-color: #f2e9f772;
    color: #e622c6;
}

#color-palette-card{
    display: none;
} 
.card3 {
    position: fixed;
    left: 7%;
    top: 40%;
    background-color: #0A050E;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    box-shadow: 6px 7px 4px rgba(195, 147, 222, 0.15),24px 29px 16px rgba(195, 147, 222, 0.10),55px 65px 35px rgba(195, 147, 222, 0.05);

}

.card3 button .material-symbols-outlined{
    cursor: pointer;
    font-variation-settings:
    'FILL' 0 ,
    'wght' 600,
    'GRAD' 1,
    'opsz' 26;
    color: #F2E9F7;
    background-color: #0A050E;
    padding: 10px 10px;
}

.card3 button .material-symbols-outlined:hover{
    background-color: #f2e9f772;
    color: #e622c6;
}


#notes-tools-card{
    display: none;
} 
.card4 {
    position: fixed;
    left: 7%;
    top: 48%;
    background-color: #0A050E;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    box-shadow: 6px 7px 4px rgba(195, 147, 222, 0.15),24px 29px 16px rgba(195, 147, 222, 0.10),55px 65px 35px rgba(195, 147, 222, 0.05);

}

.card4 button .material-symbols-outlined{
    cursor: pointer;
    font-variation-settings:
    'FILL' 0 ,
    'wght' 600,
    'GRAD' 1,
    'opsz' 26;
    color: #F2E9F7;
    background-color: #0A050E;
    padding: 10px 10px;
}

.card4 button .material-symbols-outlined:hover{
    background-color: #f2e9f772;
    color: #e622c6;
}

/* .options.active-option .material-symbols-outlined {
    /* background-color 
    color: #e622c6; 
  } */

.drawing-board{
    width: 90%;
    height: 90%;
    background-color: #fff;
    
}



.clear-canvas{
    cursor: pointer;
    
}

.drawing-board {

    border-radius: 10px;
} 

.drawing-board canvas{
    width: 100%;
    height: 100%;
    /* background-color: #C393DE; */
}

