/* Import Playfair font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
    
    

}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0 ,
    'wght' 600,
    'GRAD' 1,
    'opsz' 24;
    color: #F2E9F7;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #0A050E;
}

/** option-panel */

.option-panel{
    position: relative;
    width: 60px;
    height: 90%;
    background-color: #250E33;
    border-radius: 15px ;
    color: #F2E9F7;
    border: solid 1px #C393DE;
    box-shadow: #C393DE;
    margin-right: 2vw;
}

.shapes{
    position: relative;

}


.options {
    width: 6.5vw;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-left: 15px;
    /* background-color: rgba(226, 80, 17, 0.132); */

}
.shapes {
    position: relative;
    width: 90%;

}
.dropdown-content{
    position: absolute;
    display: flex;
    top: -5px;
    left: 50%;
    padding: 4px 8px;
    
}

.dropdown-content button{
    display: none;
    background-color: transparent;
    border: solid .5px #F2E9F7;
    margin-right: 5px;
    padding: 2px 5px;
    cursor: pointer;

}
.dropdown-content button:hover{
    background-color: #0A050E;  
    color: #C393DE;
    cursor: pointer;

}



.drawing-board{
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 20px 20px ;
    margin-left: 10px;
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
    /* background-color: #C393DE; */
}